body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar{
  width:280px;
  border-right: solid 1px #f3f3f3;
  height:100vh;
}
.nav>.nav-item>a{
	color:#777a7c!important;
	}
	.nav>.nav-item>a:hover,.nav>.nav-item>a.active{
	color:#000000!important;
	font-weight:600;
	}
.mainpage{
display:flex;
}
.page-content{
 padding:20px;
  width:100%;
}
.page-header{
  font-size: 28px;
  font-weight: bolder;
  margin-bottom:20px;
}
.page-content-div{
  margin-bottom:20px;
  min-height: 100px;
}