.sidebar{
  width:280px;
  border-right: solid 1px #f3f3f3;
  height:100vh;
}
.mainpage{
display:flex;
}
.page-content{
 padding:20px;
  width:100%;
}
.page-header{
  font-size: 28px;
  font-weight: bolder;
  margin-bottom:20px;
}
.page-content-div{
  margin-bottom:20px;
  min-height: 100px;
}